* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    background-image: url(assets/background.jpg);
}

header {
    background-color: #e63946;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 15px;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

/* Animação de hover nos links */
nav ul li a:hover {
    background-color: #e63946; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
    transform: translateY(-5px); /* Levanta o link */
    color: #000000; /* Cor de destaque ao passar o mouse */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave ao passar o mouse */
}

/* Linha animada abaixo do link */
nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

/* Animação da linha quando o link é hover */
nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.form-section {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 16px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 12px;
    background-color: #e63946;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #050505;
}

p {
    text-align: center;
    font-size: 14px;
}

p a {
    color: #e63946;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

footer {
    background-color: #e63946;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    margin-top: 40px;
}
