/* Reset de estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo do cabeçalho */
header {
    background-color: #ffc600;
    padding:  20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #008c15;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
    position: relative; /* Necessário para a linha animada */
}

nav ul li a {
    text-decoration: none;
    color: #008c15;
    font-weight: bold;
    padding: 10px;
    display: block;
    transition: all 0.3s ease;
    border-radius: 5px;
}

/* Hover nos links de navegação */
nav ul li a:hover {
    background-color: #ffc600;
    color: #fff;
    transform: translateY(-3px);  /* Levanta o link ao passar o mouse */
}

/* Estilo da linha animada abaixo do link */
nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #27ae60;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

/* Animação da linha quando o link é hover */
nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Estilo da seção do restaurante */
.restaurant-section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.restaurant-section h1 {
    text-align: center;
    color: #27ae60;
    margin-bottom: 10px;
}

.restaurant-section p {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-item {
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: all 0.3s ease;
}

/* Efeito hover no item do cardápio */
.menu-item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Sombra maior ao passar o mouse */
    transform: scale(1.05);  /* Aumenta o item do cardápio */
}

/* Imagem do item do cardápio */
.menu-item img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
}

/* Informações do item do cardápio */
.menu-info {
    max-width: 600px;
}

.menu-info h3 {
    color: #27ae60;
    margin-bottom: 5px;
}

.menu-info p {
    color: #555;
    margin-bottom: 5px;
}

.menu-info strong {
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffc600;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
}

/* Hover no botão */
button:hover {
    background-color: #000000;
}
